# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
node_modules
/_design/
/.idea
.sass-cache
/vendor
/src/vendor
/node_modules
/assets/vendor
/yarn.lock
/package-lock.json
/mix-manifest.json
/assets/js/manifest.js
/assets/js/vendor.js.map
*.map
