// Z-Indez
$zIndex-1:   100;
$zIndex-2:   200;
$zIndex-3:   300;
$zIndex-4:   400;
$zIndex-5:   500;
$zIndex-6:   600;
$zIndex-7:   700;
$zIndex-8:   800;
$zIndex-9:   900;
$zIndex-10: 1000;

// Global Colors
$white:                         #fff;
$black:                         #000;
$font-color:                    #212121;
$link-color:                    darken($font-color, 10%);
$link-hover-color:              darken($font-color, 20%);

//$theme-colors: (
//    "primary": #0074d9,
//);

$red:                           #d61313;
$font-color:                    $white;

$font-open-sans:                'Open Sans', sans-serif;
$font-roboto:                   'Roboto', sans-serif;
$font-josefin:                  'Josefin Sans', sans-serif;
$font-garamond:                 'EB Garamond', serif;

// Bootstrap override
