.text- {
    &white {
        color: $white;
    }
    &red {
        color: $red;
    }
    &uppercase {
        text-transform: uppercase;
    }
}

.bg- {
    &white {
        background-color: $white;
    }
    &red {
        background-color: $red;
    }
}

.font- {
    &open-sans {
        font-family: $font-open-sans;
    }

    &josefin {
        font-family: $font-josefin;
    }

    &roboto {
        font-family: $font-roboto;
    }

    &garamond {
        font-family: $font-garamond;
    }
}
