@media only screen and (min-width: 641px) {
    .gform_wrapper ul.gform_fields li.gfield {
        padding-right: 0;
    }
}

/** Gravity Forms */
.gform_wrapper form {
    margin-bottom: 0;
}

.gform_wrapper ul {
    @extend .list-unstyled;
}

.gform_wrapper li {
    @extend .form-group;
}

.gform_wrapper .gfield_required {
    padding-left: 1px;
    color: $xixYellow;
}

.gform_wrapper input[type="email"],
.gform_wrapper input[type="date"],
.gform_wrapper input[type="datetime"],
.gform_wrapper input[type="datetime-local"],
.gform_wrapper input[type="month"],
.gform_wrapper input[type="number"],
.gform_wrapper input[type="password"],
.gform_wrapper input[type="search"],
.gform_wrapper input[type="tel"],
.gform_wrapper input[type="text"],
.gform_wrapper input[type="time"],
.gform_wrapper input[type="week"],
.gform_wrapper input[type="url"],
.gform_wrapper select,
.gform_wrapper textarea {
    @extend .form-control;
}

.gform_wrapper .button {
    @extend .btn;
    @extend .btn-primary;
}

.gform_wrapper {
    .gfield_error {
        .gfield_label {
            @extend .alert-danger;
        }

        input,
        select,
        textarea {
            @extend .alert-danger;
        }
    }

    .div.validation_error {
        @extend .alert;
        @extend .alert-danger;
    }
}

.validation_message {
    display: none;
}
