//
// Override variables
// --------------------------------------------------
@padding_big:                    120px;
@padding_small:                  60px;
@padding_tiny:                   20px;

// Include any variables from the variable.less file here to over rdies it.
@text-color:                    @gray;
@input-color-placeholder:       lighten(@text-color, 25%);
@headingsFontWeight:            400;

// Colours
@dockRed: 						red;

// Responsive Variables
@third:                         0.33333;
@twoThird:                      0.66666;
@half:                          0.5;
@threeQuarter:                  0.75;
@quarter:                       0.25;
@one:                           1;


@import "font-awesome/font-awesome";