@import "fonts/font.roboto";
@import "fonts/font.opensans";

$font-open-sans: 'Open Sans', sans-serif;
$font-roboto: 'Roboto', sans-serif;

// Typography
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$link-color: darken($font-color, 10%);
$link-hover-color: darken($font-color, 20%);
